*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }


body {
  font-family: 'Raleway', sans-serif;
    background-color: gray;
}
/* the main container */

.front-side,
.back-side {
  font-weight: 300;
  width: 390px;
  height: 220px;
  position: relative;
  /* adjust this to space out the cards */
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 2px 5px 15px 0px #17161694;
  background-color:antiquewhite;
}
.title{
  font-weight: 400;
  width:390px ;
  height: 220px;
    color: white;
    position: relative; 
    margin-top: 25%;
    margin-left: 25%;
   
}

.front-side{
  background-image: url('FRONTCARD.svg');
}

.back-side{
    background-image: url('BACKCARD.svg');
  }
  .secondary{
      color: rgb(255, 255, 255)
      
      
      
  }
/* HOW DO I BRING IN A DIFFERENT FONT FOR THE BACKSIDE? */
.name{
  display: grid;
  position: relative;
  margin-left:30px;
  padding: 10px
  

}

.secondary{
    
  display: grid;
  position: relative;
  margin-left:30px;
  padding: 50px;

 }

  .illustration{
    display: grid;
    position: relative;
    margin-right:80px;
    padding:90px;
  
  } 
   .subHeader{
     margin-left: -30px;
     width:300px;
   }
      
.icons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  /* position:absolute; */
  position: relative;
  margin-left:-50px;
  margin-bottom: 0px;
} 
  


.icon-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "a b c";
  border: 8px solid blue;
}
h5{
  margin-top: 0px;
  padding-top: 0px;
} 


/* .circle{
  background-image: url("/assets/circle.svg");
  grid-area: a;
} */


/* h3{
  margin-bottom: 0px;
}
/*




